html {
	height: 100%;
}
body {
	background-color: rgb(10,10,10);
	min-width: 400px;
	height: 100%;
	
	overflow-x: auto;
	overflow-y: auto;
	margin: 0;
}

/* font */
* {
	font-family: bitstream_vera_sans_monoroman, Arial, sans-serif;
}
p {
	color: whitesmoke;
	margin: 0;
}
h1 {
	color: whitesmoke;
	margin: 0;
}

/* Menu */
.menuBar {
	background-color: rgb(30,30,30);
	height: 40px;
}
.menuBar > .item {
	color: whitesmoke;
	width: 120px;
	line-height: 40px;
	font-size: 25px;
	
	display: inline-block;
	text-align: center;
	cursor: pointer;
}
.menuBar > .activate {
	background-color: rgb(70,70,70);
}
.menuBar > .item:not(.activate):hover {
	background-color: rgb(50,50,50);
}
.menuBar > .item.activate:hover {
	background-color: rgb(90,90,90);
}

/* Window */
.window {
    position: absolute;
}
.wHeader {
	background-color: rgb(70,70,70);
	height: 30px;
}
.wHeader > .title {
	color: whitesmoke;
	font-size: 20px;
	line-height: 30px;
	
	display: block;
	float: left;
	margin-left: 10px;
}
.wHeader > .close, .wHeader > .minimize {
	width: 50px;
	
	display: block;
	float: right;
	text-align: center;
}
.wHeader > .close:hover {
	background-color: rgb(232,17,35);
}
.wHeader > .minimize:hover {
	background-color: rgb(100,100,100);
}
.wHeader > div > img {
	width: 16px;
	margin: 5px 0;
}
.wMenu {
	background-color: rgb(100,100,100);
}
.wMenu > .item {
	color: whitesmoke;
	line-height: 20px;
	font-size: 16px;
	
	padding: 0 10px;
	display: inline-block;
	cursor: pointer;
}
.wBody {
	background-color: black;
}
.windowMinimize {
    width: 100%;
    height: 100%;
	bottom: 0px;
    z-index: 99;
	position: absolute;
}


/* Terminal */
.terminal {
	height: 100%;
	cursor: text;
}
.terminal p {
	font-size: 25px;
    white-space: pre;
}
.terminal > .result {
	overflow: auto;
}
.terminal .group {
	color: fuchsia;
}
.terminal .user {
	color: aqua;
}
.terminal .path, .terminal .prefix {
	color: limegreen;
}
.terminal .hint {
	color: rgb(50,50,50);
}
.terminal .blink {
	background-color: limegreen;
}

/* Command */
.resultBorder {
	border: 5px double;
	margin: 5px;
	padding: 5px;
	color: whitesmoke;
}
.resultBorder > h1 {
	color: cyan;
}
.resultBorder > div > h2 {
	font-size: 25px;
}
.resultBorder > div > h3 {
	font-size: 18px;
}
.resultBorder > div > video {
	height: 100%;
	
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}
.resultBorder > h2, h3 {
	margin: 0;
}

/* Notification */
.notificationWindow {
	width: 320px;
	height: 100%;
	
	right: 0px;
	bottom: 0px;
	position: absolute;
    z-index: 100;
	
	overflow: hidden;
}

.notification {
	background-color: rgb(50,50,50);
	width: 300px;
	height: 100px;
	
	padding: 5px;
	position: absolute;
	bottom: 10px;
}

/* other */
sp {
	display: inline-block;
	width: 2em;
	height: 1em;
}
white {
	color: whitesmoke;
}
green {
	color: limegreen;
	white-space: pre;
}
a:link, a:visited{
	color: deepskyblue;
}
a:active {
	color: whitesmoke;
}

.clickThrough {
    pointer-events: none;
}

.cantSelect {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */      
}