/* Terminal */
.terminal {
	height: 100%;
	cursor: text;
}
.terminal p {
	font-size: 25px;
    white-space: pre;
}
.terminal > .result {
	overflow: auto;
}
.terminal > .commandLine .group {
	color: fuchsia;
}
.terminal > .commandLine .user {
	color: aqua;
}
.terminal > .commandLine .path, .terminal > .commandLine .pre {
	color: limegreen;
}
.terminal > .commandLine > .hint {
	color: rgb(50,50,50);
}
.terminal > .commandLine .blink {
	background-color: limegreen;
}
.terminal > .commandLine > .input {
	/* width: 0; */
	/* background-color: transparent; */
	/* caret-color: transparent; */
	/* color: whitesmoke; */
	/* font-size: 25px; */
	/* line-height: 29px; */
	
	/* border: none; */
	/* padding: 0; */
    
	line-height: 29px;
	outline: none;
}

/* Command */
.resultBorder {
	border: 5px double;
	margin: 5px;
	padding: 5px;
	color: whitesmoke;
}
.resultBorder > h1 {
	color: cyan;
}
.resultBorder > div > h2 {
	font-size: 25px;
}
.resultBorder > div > h3 {
	font-size: 18px;
}
.resultBorder > div > video {
	height: 100%;
	
	z-index: -1;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
}
.resultBorder > h2, h3 {
	margin: 0;
}